/*
 Theme: Statement
 Fonts: ???

 <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

TODO:

- slightly elevate .middle
*/
html, .view body {
  background: #333 url(../../images/gray-noise.png) repeat;
  font-family: 'Sansita One', sans-serif;
  counter-reset: slideidx;
}

body, .view section {
  /*background-color: white;*/
}

section {
  background-color: white;
  font-size: 2em;
  color: #06263C;
}

.view head > title {
  font-size: 2.5em;
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute;
  bottom: -80px;
  right: 100px;
  color: white;
}

.view head > title {
  color: white;
  text-align: center;
  margin: 1em 0;
}

section {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-rendering: optimizeLegibility;
}

section h1,
section h2 {
  text-align: center;
  font-size: 2.2em;
  line-height: 1;
  font-weight: normal;
  margin: 0 0.5em;

  /* vertical align CSS, see http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css */
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.title h1 {
  top: 40%;
  line-height: 1.2;
}

.icon.impact,
section.title h1 strong {
  font-weight: inherit;
  color: #570000;
}

.icon.slant .fa {
  -webkit-transform: skewX(-9deg);
  -moz-transform: skewX(-9deg);
  transform: skewX(-9deg);
}

section h2 {
  top: 50%;
}

section h2 em {
  font-style: normal;
  color: #570000;
}

section ul {
  list-style: none;
  font-size: 2em;
  margin: 0.5em 0.5em 0.5em 1em;
}

section ul.scatter {
  margin: 0.25em 1em;
}

section ul > li {
  line-height: 1;
  margin-bottom: 0.25em;
}

section ul.split > li,
section ul.scatter > li {
  margin-bottom: 0.5em;
}

section ul.split > li {
  width: 50%;
}

section ul.split > li:nth-of-type(2n),
section ul.scatter > li:nth-of-type(2n) {
  float: right;
}

section ul.split > li:nth-of-type(2n - 1),
section ul.scatter > li:nth-of-type(2n - 1) {
  float: left;
}

section ul.scatter > li:nth-of-type(2n) {
  clear: left;
  text-align: right;
}

section ul.scatter > li:nth-of-type(2n - 1) {
  clear: right;
}

section ul.middle {
  margin: 0;
}

section li strong {
  font-weight: normal;
  color: #570000;
}

ul.dense {
  font-size: 1.4em;
}

section.source {
  padding: .75em 1em;
}

section.source h2 {
  position: static;
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  text-align: right;
  font-size: 1.5em;
}

pre.literal,
code {
  font-family: "M+ 1mn", monospace;
  font-size: 0.5em;
}

pre.literal,
pre code {
  color: #222;
  line-height: 1.4;
}

pre code {
  margin-top: 0.5em;
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  padding: 0.5em;
}

pre.literal {
  margin-top: 0.75em;
  padding: 0 0.5em;
}

/* Figures are displayed full-page, with the caption
   on top of the image/video */
figure {
  background-color: black;
}

figcaption {
  color: #222;
  display: block;
  background-color: #F5F5F5;
  opacity: 0.5;
  /*position: absolute;*/
  bottom: 5%;
  font-size: 1.1em;
  width: 100%;
  padding: 0.25em 0.5em;
}

*:not(figure) > img.canvas {
  width: 100%;
  height: 100%;
}

img.resized {
  height: 75%;
  width: auto;
  position: static;
  margin: auto;
  display: block;
}

img.fit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  /*
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  */
}

img.fill-y {
  height: 100%;
}

img.fill-x {
  width: 100%;
}

section.tweet {
  background-color: #F5F5F5;
}

section.tweet > .twitter-tweet {
  display: none;
}

section.tweet > .twitter-tweet-rendered {
  margin: 0 auto !important;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
}

div.title {
  color: #222;
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

div.title + pre {
  margin-top: 0;
}

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.eg, .ie {
  font-size: 0.7em;
  color: #bdbdbd;
}

p.lead-in {
  color: #555;
  margin: 0 1em;
}

p.lead-in + p {
  font-size: 1.5em;
  margin: 0 0.75em 0 1.5em;
}

p.whisper {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  font-size: 0.75em;
  line-height: 1;
  font-style: italic;
  color: #777;
  padding: 0.5em 1em;
  text-align: right;
}

div.speaker {
  margin: 1em;
  line-height: 1.5;
  color: #222;
}

div.speaker ol,
div.speaker ul,
div.speaker p {
  font-size: 1rem;
  font-family: "Noto Serif", "Serif", serif;
}

div.speaker ol {
  padding-left: 40px;
  margin: 1em 0;
}

div.speaker ol ol {
  margin: 0;
}

div.speaker ol ul {
  margin: 0;
}

div.speaker ul {
  list-style-type: disc;
  padding-left: 20px;
}

div.speaker p {
  margin: 1em 0;
}

blockquote {
  padding: 0 0 0 2rem;
  margin: 1em 2em 0 2em;
  font-size: 0.75em;
}

blockquote:before {
  color: #570000;
  content: '\201C';
  font-size: 4em;
  font-family: "Liberation Serif", "Serif", serif;
  font-weight: 700;
  float: left;
  margin-left: -0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  margin-top: -0.25em;
}

section blockquote p {
  color: #222;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0.5em;
  font-style: italic;
  font-size: 2em;
}

blockquote p em {
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.25em;
}

blockquote cite {
  font-size: 1.25em;
  display: block;
  line-height: 1.8;
  color: #666;
  font-style: normal;
}

blockquote cite:before {
  content: '\2014 \00A0';
}

.listingblock pre {
  white-space: pre-wrap;
}

.conum[data-value] { display: inline-block; color: white !important; background-color: #333333; -webkit-border-radius: 100px; border-radius: 100px; text-align: center; width: 20px; height: 20px; font-size: 12px; line-height: 20px; font-family: "Sans", sans-serif; font-style: normal; font-weight: bold; text-indent: 0; padding-top: 1px; }
.conum[data-value] * { color: white !important; }
.conum[data-value] + b { display: none; }
.conum[data-value]:after { content: attr(data-value); }
pre .conum[data-value] { position: relative; top: -1px; }
b.conum * { color: inherit !important; }
.conum:not([data-value]):empty { display: none; }
.colist > table { font-size: 0.65em; font-family: "Noto Sans", "Sans", sans; }
.colist > table tr > td:first-of-type { padding: 0 .25em; line-height: 1; }
.colist > table tr > td:last-of-type { padding: 0.25em 0; line-height: 1.25; color: #222;}

section.statement > p:first-of-type {
  font-size: 1.25em;
  margin: 0 1em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.statement p em {
  font-style: normal;
  color: #570000;
}

section.ruby {
  background-color: #E62D37;
}

footer {
  color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  background-color: #F5F5F5;
  border-top: 1px solid #DDD;
}

.view section {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.view section[aria-selected] {
  border: 5px lightblue solid;
}

/* Incremental elements */
.incremental:not([active]) > * {
  left: 0;
  opacity: 0;
}

/* Items already covered */
.incremental > * {
  opacity: 0.75;
}

/* Current item */
.incremental > *[aria-selected] {
  opacity: 1;
}

/* Items to be shown */
.incremental > *[aria-selected] ~ * {
  opacity: 0;
}

/* Items already covered */
ul[class="incremental"] > * {
  left: 10%;
  position: relative;
  -webkit-transition: left 450ms ease-in-out 0s;
  -moz-transition: left 450ms ease-in-out 0s;
  transition: left 450ms ease-in-out 0s;
}

/* Current item */
ul[class="incremental"] > *[aria-selected] {
  left: 0;
}

/* Items to be shown */
ul[class="incremental"] > *[aria-selected] ~ * {
  left: 0;
}

/* FIXME move me to the core stylesheet! */
.view .incremental > * {
  opacity: 1 !important;
  visibility: visible !important;
}

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  display: none;
}
